{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="row justify-content-center">

        <div id="show-alert"></div>

        <div id="new-post-section">
            <h3>Make a new post</h3>

            <form id="new-post-form">
                <div class="form-group">
                    <textarea class="form-control" id="new-post-content" rows="3" placeholder="What's on your mind?"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Post</button>
            </form>
        </div>

        {% comment %} <div id="profile-section">Profile</div>
        <div id="all-posts-section">All post</div>
        <div id="following-section">Following</div> {% endcomment %}

        <div id="all-posts-section">
            <h3>All Posts</h3>
        </div>

        <div id="following-section">
            <h3>Following</h3>
        </div>

        <div id="profile-section">
            <h3>Profile</h3>
        </div>


        

    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}